.Main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar content details"
    "sidebar content details"
    "sidebar week week";
  grid-template-columns: 20% 55% 25%;
  grid-template-rows: 20% 55% 25%;
}

.sunny {
  background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1409/Sunny_Day-Desktop_Wallpaper_1366x768.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
