.Main-container {
  width: 100%;
  height: 100vh;
}

.data-container {
  display: flex;
  padding: 16px 40px 0 200px;
  justify-content: space-evenly;
}

.sunny {
  position: relative;
}

.sunny::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1560 560L0 560 L0 306.33Q33.07 267.4%2c 72 300.47Q129.92 286.39%2c 144 344.31Q152.75 281.06%2c 216 289.8Q295.73 297.53%2c 288 377.27Q286.12 303.39%2c 360 301.51Q387.47 256.98%2c 432 284.44Q485.4 265.84%2c 504 319.24Q557.29 252.53%2c 624 305.83Q673.83 235.66%2c 744 285.49Q842.79 264.28%2c 864 363.08Q892.29 271.37%2c 984 299.66Q1061.72 257.38%2c 1104 335.1Q1171.36 282.46%2c 1224 349.82Q1228.47 282.29%2c 1296 286.77Q1360.13 278.9%2c 1368 343.03Q1385.04 288.06%2c 1440 305.1Q1489.94 235.05%2c 1560 284.99z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 410.62Q70.02 360.64%2c 120 430.66Q127.43 366.09%2c 192 373.51Q241.68 303.19%2c 312 352.87Q416.78 337.65%2c 432 442.44Q446.83 385.27%2c 504 400.11Q515.91 340.02%2c 576 351.93Q649.99 305.92%2c 696 379.91Q765.18 377.09%2c 768 446.27Q788.44 394.71%2c 840 415.15Q861.56 364.71%2c 912 386.27Q955.9 310.17%2c 1032 354.08Q1091.27 341.35%2c 1104 400.62Q1126.11 350.73%2c 1176 372.84Q1204.58 329.42%2c 1248 358Q1325.13 315.13%2c 1368 392.25Q1450.51 354.76%2c 1488 437.28z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 482.47Q44.34 454.81%2c 72 499.15Q113.05 420.19%2c 192 461.24Q244.28 393.52%2c 312 445.8Q367.91 429.71%2c 384 485.62Q410.89 440.51%2c 456 467.41Q493.42 384.83%2c 576 422.25Q649.17 375.42%2c 696 448.59Q790.67 423.26%2c 816 517.93Q836.99 466.91%2c 888 487.9Q900.2 428.1%2c 960 440.3Q990.03 398.33%2c 1032 428.36Q1120.57 396.93%2c 1152 485.49Q1220.53 434.02%2c 1272 502.56Q1300.08 410.63%2c 1392 438.71Q1442.86 369.56%2c 1512 420.42z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 565.38Q51.58 496.96%2c 120 548.55Q169.71 526.26%2c 192 575.97Q208.85 520.82%2c 264 537.67Q291.06 492.73%2c 336 519.79Q389.18 500.97%2c 408 554.16Q417.7 491.86%2c 480 501.55Q553.31 454.86%2c 600 528.16Q660.1 516.26%2c 672 576.36Q696.52 528.88%2c 744 553.41Q774.06 463.47%2c 864 493.53Q909.06 466.58%2c 936 511.64Q1020.82 476.46%2c 1056 561.28Q1098.14 531.42%2c 1128 573.57Q1163.57 489.14%2c 1248 524.71Q1321.61 478.32%2c 1368 551.93Q1398.13 510.05%2c 1440 540.18Q1469.95 498.13%2c 1512 528.08z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 910px) {
  .data-container {
    padding: 16px 0 0 156px;
  }
}

@media (max-width: 767px) {
  .data-container {
    padding: 16px 64px 28px 168px;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
    overflow: scroll;
  }
}
@media (max-width: 500px) {
  .data-container {
    padding: 20px 24px 0 68px;
    flex-direction: column;
  }
}
