.data-select {
  width: 40%;
  height: 80vh;
}

.data-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-size: 2rem;
  gap: 12px;
}

.data-options h5:hover {
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}

.notSelected {
  color: bisque;
  font-weight: 300;
}

@media (max-width: 767px) {
  .data-select {
    padding: 0px 20px 0px 20px;
    margin-top: 28px;
    width: 100%;
  }
}
