.wrong-location{
    top: 25px;
    right: calc(20%);
    position: absolute;
    font-size: 1.6rem;
    background: rgb(79 27 45);
    height: 40px;
    width: 160px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}